<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.dao.mapper.AppBaseDAO">
    <resultMap id="BaseResultMap" type="com.summer.dao.entity.AppBase">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="app_desc" jdbcType="VARCHAR" property="appDesc"/>
        <result column="service_phone" jdbcType="VARCHAR" property="servicePhone"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="weixin" jdbcType="VARCHAR" property="weixin"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, app_desc, service_phone, img_url,weixin,qq
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from platform_app_base
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from platform_app_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.summer.dao.entity.AppBase">
    insert into platform_app_base (id, name, app_desc, 
      service_phone, img_url,weixin,qq)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{appDesc,jdbcType=VARCHAR}, 
      #{servicePhone,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},#{weixin},#{qq})
  </insert>
    <insert id="insertSelective" parameterType="com.summer.dao.entity.AppBase">
        insert into platform_app_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="appDesc != null">
                app_desc,
            </if>
            <if test="servicePhone != null">
                service_phone,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="weixin != null">
                weixin,
            </if>
            <if test="qq != null">
                qq
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="appDesc != null">
                #{appDesc,jdbcType=VARCHAR},
            </if>
            <if test="servicePhone != null">
                #{servicePhone,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="weixin != null">
                #{weixin},
            </if>
            <if test="qq != null">
                #{qq}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.summer.dao.entity.AppBase">
        update platform_app_base
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="appDesc != null">
                app_desc = #{appDesc,jdbcType=VARCHAR},
            </if>
            <if test="servicePhone != null">
                service_phone = #{servicePhone,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="weixin != null">
                weixin = #{weixin},
            </if>
            <if test="qq != null">
                qq = #{qq}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.summer.dao.entity.AppBase">
    update platform_app_base
    set name = #{name,jdbcType=VARCHAR},
      app_desc = #{appDesc,jdbcType=VARCHAR},
      service_phone = #{servicePhone,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      weixin = #{weixin},
      qq = #{qq}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <sql id="Base_Column">
    pab.id, pab.name, pab.app_desc, pab.service_phone, pab.img_url,pab.weixin,pab.qq
  </sql>
    <select id="findByAppName" parameterType="com.summer.dao.entity.AppBase" resultMap="BaseResultMap">
        select
        <include refid="Base_Column"/>
        from platform_app_base pab where pab.name = #{name}
    </select>
</mapper>