<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.dao.mapper.ProtocolDAO">
    <resultMap id="BaseResultMap" type="com.summer.dao.entity.Protocol">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="modifyName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="title" jdbcType="VARCHAR" property="protocolTitle"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="party_b" jdbcType="VARCHAR" property="partyB"/>
        <result column="party_c" jdbcType="VARCHAR" property="partyC"/>
        <result column="party_d" jdbcType="VARCHAR" property="partyD"/>
        <result column="add_person" jdbcType="VARCHAR" property="addPerson"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.summer.dao.entity.Protocol">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, id_card, title, type,status,ip, party_b, party_c, party_d, add_person, image_url,
    create_time, update_time
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from platform_protocol
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from platform_protocol
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.summer.dao.entity.Protocol">
    insert into platform_protocol (id, name, phone, 
      id_card, title, type,status,ip, party_b,
      party_c, party_d, add_person,
      image_url, create_time, update_time,
      content)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{idCard,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=BIT},#{status,jdbcType=INTEGER},#{ip,jdbcType=VARCHAR}, #{partyB,jdbcType=VARCHAR},
      #{partyC,jdbcType=VARCHAR}, #{partyD,jdbcType=VARCHAR}, #{addPerson,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.summer.dao.entity.Protocol" useGeneratedKeys="true" keyProperty="id">
        insert into platform_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="partyB != null">
                party_b,
            </if>
            <if test="partyC != null">
                party_c,
            </if>
            <if test="partyD != null">
                party_d,
            </if>
            <if test="addPerson != null">
                add_person,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="partyB != null">
                #{partyB,jdbcType=VARCHAR},
            </if>
            <if test="partyC != null">
                #{partyC,jdbcType=VARCHAR},
            </if>
            <if test="partyD != null">
                #{partyD,jdbcType=VARCHAR},
            </if>
            <if test="addPerson != null">
                #{addPerson,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.summer.dao.entity.Protocol">
        update platform_protocol
        <set>
            <if test="modifyName != null">
                name = #{modifyName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="protocolTitle != null">
                title = #{protocolTitle,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="partyB != null">
                party_b = #{partyB,jdbcType=VARCHAR},
            </if>
            <if test="partyC != null">
                party_c = #{partyC,jdbcType=VARCHAR},
            </if>
            <if test="partyD != null">
                party_d = #{partyD,jdbcType=VARCHAR},
            </if>
            <if test="addPerson != null">
                add_person = #{addPerson,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.summer.dao.entity.Protocol">
    update platform_protocol
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      party_b = #{partyB,jdbcType=VARCHAR},
      party_c = #{partyC,jdbcType=VARCHAR},
      party_d = #{partyD,jdbcType=VARCHAR},
      add_person = #{addPerson,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.summer.dao.entity.Protocol">
    update platform_protocol
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      party_b = #{partyB,jdbcType=VARCHAR},
      party_c = #{partyC,jdbcType=VARCHAR},
      party_d = #{partyD,jdbcType=VARCHAR},
      add_person = #{addPerson,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from platform_protocol
        <where>
            <if test="protocolTitle != null and protocolTitle !='' ">
                title = #{title,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and endTime != null and startTime !='' and endTime != '' ">
                and DATE_FORMAT(create_time,'%Y-%m-%d') BETWEEN #{startTime,jdbcType=TIMESTAMP} AND
                #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="addPerson != null and addPerson != '' ">
                and add_person = #{name,jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time
    </select>
</mapper>